.app {
 background-color:rgb(165, 150, 150);
  height: 100%;
  width: 100%;
  border-top-width: 30px;
  text-align: center;
  display:inline;
}
.Bottom{
height: 50px;
width: 100vh;
background-color: darksalmon;
margin-top: 0px;
border: blue solid 5px;
margin-left:auto;}
.Inside{
  height: 100vh;
  width: 100%;
  background-color: darkslategray;
  margin-top: 2%;
  margin-left: 70px;
  float: left;
  
}
.aside{
  height: 100%;
  width: 50px;
  background-color: blue;
  margin-top: 0px;
  float: right;
  border: chartreuse dotted 6px;
}